.contenedorTodo{
    display: flex;
    height: 100%;
    width: 100%;
    
}

/* Inicia Contenido de Información de la camara */
.conteidoInfo{
    height: 100vh;
    width: 40%;
    border-right: 2px solid rgb(209, 209, 211);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 250px;
}
.infoPersonas{
    height: auto;
    width: 80%;
    background-color: #004791;
    border-radius: 10px;
    margin-top: 5px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    align-content: center;
    align-items: center;
    
}
.contadorInicial{
    margin-right: 20px;
    font-size: 40px;
}

.textoInfoESG{
    font-size: 25px;
}

.iconosEntradas{
    width: 55px;
    height: 55px;
    padding-left: 5px;
    filter: brightness(0) invert(1); /* Cambia el color a blanco */
}


.contenedorInfo{
    margin-top: 15px;
    width: 80%;
    height: 200px;
    background-color: #b8b8b818;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.tituloInfo{
    font-size: 22px;
    margin-top: 5px;
}
.textoInfo{
    color: #24222084;
}

.botones{
    width: 90%;
    border: none;
    background-color: #004791;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
    padding: 10px;
    font-weight: 600;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
/* Termina Contenido de Información de la camara */


/* Inicia panel usuario  */
.panelUsuario {
    display: flex;
    justify-content: space-between; /* Espacio entre el título y el icono */
    align-items: center;
}

.tituloInicial {
    flex: 1; 
    text-align: center;
}

.iconoContainer {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.timeContainer{
    padding-right: 20px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconoUsuario {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}


/* Termina panel usuario  */

.contenedorPanelyCamara{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}

.panelUsuario{
    height: 10%;
    width: 100%;
    border-bottom: 2px solid rgb(209, 209, 211);
}


#container {
    position: relative;
    width: 100%;
    height: 90%;
    background-color: azure;
}

#video, #output {
    position: absolute;
    top: 0;
    left: 0;    
}


